@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Roboto+Slab&display=swap');

/* webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* targeting every item in the body element */
body {
    font-family: Castoro, Roboto-Slab, sans-serif;
}

/* header styling rules */
header {
    height: 100px;
    padding: 10px;
}

/* h1 styling rules */
h1 {
    text-align: left;
    font-size: 300%;
    font-weight: 400;
    text-decoration: underline rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

/* symbol-selector and prompt style rules */
#prompt {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    padding: 10px;
    text-decoration: underline rgb(0, 0, 0);
}

.symbol-selector {
text-align: center;
margin-top: 40px;
margin-right: 0px;
margin-bottom: 40px;
margin-left: 0px;
}

.symbol {
    display: inline-block;
    width: 15%;
}

/* button selectors styling rules */
button {
    font-size: 150px;
    border: none;
    color: rgb(111 37 193);
}

/* outcome section */
#outcome-result {
    height: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    margin: 20px;
    padding: 3%;
}

/* score board */
#score-board-title {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.score-board {
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 30%;
    height: 120px;
    text-align: center;
    position: relative;
    background: rgb(111 37 193);
    color: white;
}

#player {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 40px;
    font-size: 30px;
}

#computer {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 40px;
    font-size: 30px;
}

#player-score{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 70px;
    font-size: 40px;
}

#computer-score{
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 90px;
    font-size: 40px;
}

/* help section/rules */
#help-sheet {
    padding-left: 20px;
    height: 450px;
}

#help-sheet h2 {
    text-align: center;
    padding: 20px 10px 10px 20px;
    font-size: 40px;
    font-weight: 300;
    text-decoration: underline rgb(0, 0, 0);
}

#help-sheet div {
    margin: 2px;
    width: 19.8%;
    height: 200px;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    display: inline-grid;
}

#help-sheet h3 {
    padding-top: 10px;
    text-decoration: underline rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
}

#help-sheet p {
    font-size: 20px;
}

/* footer section */
footer {
    height: 100px;
    margin: 10px;
    padding: 10px;
}

#contact-us{
    text-align: center;
}

#contact-us > li {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}

#contact-us i {
    color: black;
}

/* Media queries */

/*screens sized 1025px to max-screen width(2034px) */

@media screen and (max-width: 2034px) {

    button {
        font-size: 130px;
    }

    .score-board {
        width: 45%;
        height: 130px;
    }

    #help-sheet div {
        width: 19%;
        height: 250px;
    }

    #help-sheet {
        margin: 0 20px 0 20px;
        height: 50px;
    }

    #help-sheet h3 {
        font-size: 25px;
    }

    #help-sheet p {
        font-size: 18px;
        margin: 5px;
    }

    #help-sheet h2 {
        font-size: 30px;
    }

    footer {
        margin: 30px 10px 10px 10px;
        padding: 15px;
        float: right;
    }
}

/*screens sized 768px to max-screen width(1024px) */

@media screen and (max-width: 1024px) {
    header {
        height: 80px;
    }
    
    h1 {
        font-size: 200%;
    }

    #prompt {
        font-size: 25px;
    }

    .symbol {
        width: 25%;
    }

    #outcome-result {
        font-size: 27px;
    }

    .score-board {
        width: 50%;
        height: 100px;
    }

    #player {
        font-size: 27px;
    }

    #computer {
        font-size: 27px;
    }
    #computer-score {
        position: absolute;
        top: 45px;
        font-size: 37px;
    }
    #computer-score {
        position: absolute;
        top: 45px;
        font-size: 37px;
    }

    #help-sheet div {
        width: 19%;
        height: 300px;
    }

    #help-sheet div {
        float: left;
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
        display: inline-grid;
    }

    #contact-us > li {
        font-size: 21px;
    }
}